body {
  font: bold 1em sans-serif;
}

.container {
  display: grid;
}

.header {
  background-color: rgb(225, 230, 230);
  height: 90px;
  grid-row: 1 / 2;
  grid-column: span 5;
  display: grid;
  align-content: center;
  justify-content: space-evenly;
}

main {
  background-color: rgb(255 243 227);
  grid-row: 2 / 5;
  grid-column: span 3;
  height: 440px;
  text-align: center;
  display: grid;
  padding-top: 30px;
  align-items: center;
}

.top-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 150px;
}

.section-main {
  background-color: rgb(247 231 174);
  margin-left: 30px;
  margin-right: 30px;
  height: 100px;
  align-items: center;
  display: grid;
}

.section-main-bottom {
  background-color: rgb(247 231 174);
  margin: 30px;
  height: 100px;
  align-items: center;
  display: grid;
  grid-column: span 3;
}

.text-section {
  background-color: rgb(221, 239, 184);
  grid-row: 2 / 5;
  grid-column: span 2;
  height: 440px;
  display: grid;
  justify-content: center;
  padding-top: 30px;
}

.footer {
  background-color: rgb(217 218 218);
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 200px;
  justify-items: center;
}
.section {
  background-color: rgb(248, 248, 247);
  width: 80%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  align-items: center;
}
